{% extends 'AmbienteConversao::layout.twig' %}

{% set page_id = 'page-acompanhar-inscricao' %}

{% block body %}
	<main class="container">
		<div class="row">
			<div class="row-header col-md-12">
				<h1>{{ aluno.nome }}</h1>
			</div>
			<div class="row-header-cursos col-md-12">
				<div class="row">
					<div class="col-md-4 fit-height">
						<div class="opcao-curso principal fit {% if lead.isMatriculado(opcoes_curso[0]) %}matriculado{% endif %}">
							<h2>Primeira Opção de Curso</h2>
							<p>
								{{ opcoes_curso[0].nome }}
							</p>
						</div>
					</div>
					<div class="col-md-4 fit-height">
						<div class="opcao-curso fit {% if lead.isMatriculado(opcoes_curso[1]) %}matriculado{% endif %}">
							<h2>Segunda Opção de Curso</h2>
							<p>
								{{ opcoes_curso[1].nome }}
							</p>
						</div>
					</div>
					<div class="col-md-4 fit-height">
						<div class="opcao-curso fit {% if lead.isMatriculado(opcoes_curso[2]) %}matriculado{% endif %}">
							<h2>Terceira Opção de Curso</h2>
							<p>
								{{ opcoes_curso[2].nome }}
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="row">
					<div class="col-md-12">
						<h2>Detalhes da Inscrição</h2>
						{% if dados_adicionais.usar_enem == 'sim' %}
							<p>
								<strong>Data entrega da documenta&ccedil;&atilde;o:</strong><br/>
								{{ prova.data.hora|date('d/m/Y') }}
							</p>
							<p>
								<strong>Hor&aacute;rio:</strong><br/>
								{% if prova.data.hora|date('H') < 12 %}das 08:30 &agrave;s 11:30{% else %}das 9:00 &agrave;s 21:00
								{% endif %}
							</p>
							<p>N&atilde;o se esque&ccedil;a de trazer sua nota do ENEM v&aacute;lida.</p>
						{% else %}
							<p>
								<strong>Data da prova:</strong><br/>
								{{ prova.data.hora|date('w')|dia_semana }},
								{{ prova.data.hora|date('d/m/Y') }}
							</p>
							<!--<p>
								<strong>Hora da prova:</strong><br/>
								{{ prova.data.hora|date('H:i') }}
								{% if prova.data.hora_final %}
									às
									{{ prova.data.hora_final|date('H:i') }}
								{% endif %}
							</p>-->
						{% endif %}
						{% if aluno.ingresso == 'vestibular'%}
							<p>
								Você optou por <strong>Vestibular</strong>, você receberá em seu e-mail a sua prova online com todas as orientações para realizá-la.
							</p>
						{% elseif aluno.ingresso == 'bolsa'%}
							<p>
								Você optou por <strong>Prova de Bolsas</strong>. No dia e horário escolhido no cadastro, você receberá o tema da sua prova, com instruções de como realizá-la através do nosso canal no youtube. Fique atento, pois a prova é válida somente para a data escolhida.<br><br> 
								Você também pode adiantar sua pré-matrícula abaixo: caso seja aprovado (a), o processo de matrícula já estará 98% completo para você iniciar sua vida universitária numa poderosa estrutura de ensino que é a FAM.
							</p>
						{% else %}
							<p>
								Você optou por <strong>{{aluno.ingresso}}</strong>, você receberá em seu e-mail as instruções para realização da matrícula.
							</p>
						{% endif %}
						<p>
						Fique atento a todas as informações através do seu e-mail.<br><br>
						<strong>Endereço:</strong><br>
						Av. Joaquim Boer, 733 - Jardim Luciene - Americana/SP<br><br>
						Para alterações de dados cadastrais, datas ou locais de prova, entre em contato com a nossa Central de Atendimento no telefone (19)3465-8100.
						</p>

						{# Só irá estar visível quando a prova for realizada #}
						{% if prova.status_id %}
							<h3>Resultados da Prova</h3>
							<p>
								{% if prova.status_id == 1 %}
									{# Dados Indisponíveis #}
									No momento estamos processando os resultados de sua prova!<br/>
									Volte mais tarde para conferir o resultado!
								{% elseif prova.status_id == 2 %}
									{# Faltou #}
									Parece que você não compareceu no dia da prova!<br/>
									Você pode reagendar sua prova abaixo ou entrando em contato via chat, telefone ou WhatsApp!
								{% elseif prova.status_id == 3 %}
									{# Reprovou #}
									<strong>Resultado:</strong>
									{{ prova.status }}<br/>
									Hey, você merece uma segunda chance! A Faculdade de Americana oferece uma nova oportunidade para você alcançar o topo.<br/>
									Basta realizar o reagendamento online ou entrar em contato via chat, telefone ou WhatsApp e agendar uma nova prova!<br/>
									Estamos te esperando!
								{% elseif prova.status_id == 4 %}
									{# Aprovado #}
									<strong>Resultado:</strong>
									{{ prova.status }}<br/>
									<strong>Nota:</strong>
									{{ prova.nota }}<br/>
									Parabéns! Seu caminho rumo ao topo já começou!<br/>
									{% if lead.isMatriculado() %}
										{% if lead.status_id == 'MATR' %}
											{# Matriculado #}
											Estaremos te esperando no início das aulas. Seja bem-vindo!
										{% else %}
											{# Pré-Matriculado #}
											Realize o pagamento da sua matrícula e aguarde o início das aulas. Seja bem-vindo!
										{% endif %}
									{% else %}
										{# Não Matriculado #}
										Venha até a FAM e faça agora a sua matrícula!<br/>
										Estamos te esperando!
									{% endif %}
								{% endif %}

								{# Condicional de Reagendamento #}
								{% if prova.status_id == 2 or prova.status_id == 3 %}
									<br>
									<form action="/inscricao/reagendar" method="post">
										{{csrf_field()}}
										<strong>REAGENDAMENTO ONLINE</strong><br>
										<p>Para reagendar sua prova ou entrega de documentação, por favor, utilize o campo abaixo.</p>
										<select class="form-control" name="data" required>
											<option value="">Escolha uma nova data para seu reagendamento:</option>
											{% for local in locais_prova %}
												{% if local.datas_provas_disponiveis %}
													<optgroup label="{{ local.local }}">
														{% for data in local.datas_provas_disponiveis.splice(0, 10) %}
															<option value="{{ data.id }}">{{ data.hora|date('d/m/Y') }}
																-
																{{ data.hora|date('H:i') }}
																-
																{{ data.hora|date('w')|dia_semana }}</option>
														{% endfor %}
													</optgroup>
												{% endif %}
											{% endfor %}
										</select>
										<br>
										<input type="submit" class="btn" value="Confirmar Reagendamento"/>
									</form>
								{% endif %}
							</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<!--<img src="/assets/images/home-campanha-logo.png" class="d-block d-md-none mt-4 mb-4 apoio" alt="Faculdade é FAM"/>-->
	</main>
{% endblock %}

{% block scripts %}{% endblock %}
