<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<title>Vestibular FAM</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/update.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="/assets/js/update.js"></script>
		<script type="text/javascript" src="/assets/js/validador.js"></script>
		<script type="text/javascript" src="/assets/js/cep.js"></script>
		<script type="text/javascript" src="/assets/js/cepR.js"></script>
		<script type="text/javascript">
			$(document).ready(() => {
const inputNasc = document.getElementById("data_nasc");
let resp = $(".responsavel");
let nasc = inputNasc.value.split("-").map(Number);
let depois18Anos = new Date(nasc[0] + 18, nasc[1] - 1, nasc[2]);
let agora = new Date();
if (depois18Anos <= agora) {
resp.css({"display": "none"});
} else {
resp.css({"display": "block"});
}

$("[type=file]").on("change", function () { // Name of file and placeholder
var file = this.files[0].name;
var dflt = $(this).attr("placeholder");
if ($(this).val() != "") {
$(this).next().text(file);
} else {
$(this).next().text(dflt);
}
});

});
		</script>
	</head>
	<div class="poparq"></div>
	<body id='page-adicionais' class="mmatricula">
		<div class="alteracoes vmatricula">
			<img class="imgadd" src="/assets/images/fam_layoutmatriculas_banner.png">
			<h3>Cadastro de Matrícula</h3>
			<form id="form1" action="/inscricao/finalizada" method="post" enctype="multipart/form-data">
				{{ csrf_field() }}
				<input type="hidden" name="cpf" value="{{ aluno.cpf }}"/>
				<input class="form-control" name="candidato[nome]" type="text" value="{{ aluno.nome }}" readonly required/><br>
				<input class="form-control" name="candidato[sobrenome]" type="text" value="{{ aluno.sobrenome }}" readonly required/><br>
				<input class="form-control" name="candidato[cpf]" type="tel" value="{{ aluno.cpf }}" readonly required/><br>
				<input class="form-control" name="candidato[data_nascimento]" id="data_nasc" type="tel" value="{{ aluno.data_nascimento }}" readonly required/><br>
				<input class="form-control afazer" placeholder="*RG:  00.000.000-0" type="tel" name="rg" required onkeypress="MascaraRG(this);" maxlength="12"/><br>
				<input class="form-control afazer" placeholder="*CEP: 00.000-000" type="tel" name="cep" required onkeypress="MascaraCep(this);" maxlength="10" onblur="if(pesquisacep(this.value)==false){this.value=''}"/><br>
				<input class="form-control afazer" placeholder="*Endereço:" type="text" name="endereco" id="rua" required/><br>
				<input class="form-control afazer" placeholder="*Bairro:" type="text" name="bairro" id="bairro" required/><br>
				<input class="form-control afazer" placeholder="*Número" type="tel" name="numero" required/><br>
				<input class="form-control afazer" placeholder="Complemento:" type="text" name="complemento"/><br>
				<input class="form-control" type="text" name="cidade" id="cidade" readonly value="{{ aluno.cidade.nome }}/{{ aluno.cidade.estado.uf }}"/><br>
				<hr><br>
				<input class="form-control" name="candidato[email]" type="email" value="{{ aluno.email }}" readonly required/><br>
				<input class="form-control afazer" name="dados_adicionais[email_secundario]" onpaste="return false" ondrop="return false" type="email" placeholder="E-Mail Secundário" onblur="if(ValidaMail(this)==false){this.value=''}"/><br>
				<input class="form-control" name="candidato[celular]" type="tel" value="{{ aluno.celular }}" readonly required/><br>
				<input class="form-control afazer" name="dados_adicionais[telefone_secundario]" onpaste="return false" ondrop="return false" type="tel" placeholder="Telefone Fixo" onkeypress="MascaraFixo(this);"/><br>
				<hr><br>
				<input class="form-control afazer" type="text" name="dados_adicionais[nome_escola]" placeholder="*Nome da Escola que concluiu Ensino Médio" required/><br>
				<select class="form-control afazer" name="dados_adicionais[ensino_medio]" required>
					<option value="">* Tipo de Ensino ?</option>
					<option value="publica" {% if aluno.dados_adicionais.ensino_medio == 'publica' %} selected="selected" {% endif %}>Pública</option>
					<option value="particular" {% if aluno.dados_adicionais.ensino_medio == 'particular' %} selected="selected" {% endif %}>Particular</option>
				</select>
				<br>
				<input class="form-control afazer" type="text" name="dados_adicionais[cidade_escola]" placeholder="* Cidade de conclusão do Ensino Médio" required/><br>
				<input class="form-control afazer" type="tel" name="dados_adicionais[ano_conclusao]" placeholder="* Ano de conclusão do Ensino Médio" required/><br>
				<hr><br>
				<input class="form-control afazer" placeholder="* Nome completo do Pai:" type="text" name="dados_adicionais[nome_pai]" required/><br>
				<input class="form-control afazer" placeholder="* Nome completo da Mãe:" type="text" name="dados_adicionais[nome_mae]" required/><br>
				<hr><br>
				<div class="responsavel">
					<input class="form-control afazer" id="r1" name="dados_adicionais[responsavel_nome]" type="text" placeholder="* Nome do Responsável"/><br>
					<input class="form-control afazer" id="r2" name="dados_adicionais[responsavel_nascimento]" type="tel" placeholder="* Data de Nascimento do Responsável" onkeypress="MascaraData(this);"/><br>
					<input class="form-control afazer" id="r3" name="dados_adicionais[responsavel_telefone]" type="tel" placeholder="* Telefone do Responsável" onkeypress="MascaraFixo(this);"/><br>
					<input class="form-control afazer" id="r4" name="dados_adicionais[responsavel_celular]" type="tel" placeholder="* Celular do Responsável" onkeypress="MascaraTelefone(this);"/><br>
					<input class="form-control afazer" id="r5" name="dados_adicionais[responsavel_cpf]" maxlength="14" type="tel" placeholder="* CPF do Responsável" onkeypress="MascaraCPF(this);" onblur="if(ValidarCPF(this)==false){this.value=''}"/><br>
					<input class="form-control afazer" id="r6" name="dados_adicionais[responsavel_rg]" placeholder="*RG:  00.000.000-0" type="tel" onkeypress="MascaraRG(this);" maxlength="12"/><br>
					<input class="form-control afazer" id="r7" name="dados_adicionais[responsavel_cep]" placeholder="*CEP: 00.000-000" type="tel" onkeypress="MascaraCep(this);" maxlength="10" onblur="if(pesquisacepR(this.value)==false){this.value=''}"/><br>
					<input class="form-control afazer" placeholder="*Endereço:" type="text" id="r8" name="dados_adicionais[responsavel_endereco]"/><br>
					<input class="form-control afazer" placeholder="*Número" type="tel" id="r9" name="dados_adicionais[responsavel_endereco_num"/><br>
					<input class="form-control afazer" placeholder="*Complemento:" type="text" id="r10" name="dados_adicionais[responsavel_endereco_compl]"/><br>
					<input class="form-control afazer" placeholder="*Bairro:" type="text" id="r11" name="dados_adicionais[responsavel_bairro]"/><br>
					<input class="form-control afazer" placeholder="*Cidade/UF:" type="text" id="r12" name="dados_adicionais[responsavel_cidade_uf]"/><br>
					<br>

					<input id="r13" name="arquivos[cpf_responsavel]" type="file" style="display:none" placeholder="Envie CPF do Responsável *"/>
					<label class="arquivo" for="r13">Envie CPF do Responsável *</label>
					&emsp;<span class="tutoarq" onclick="manual(13)">?</span>
					<img class="imgarq13" src="" onclick="apagamanual(13)"><br><br>

					<input id="r14" name="arquivos[rg_responsavel]" type="file" style="display:none" placeholder="Envie RG do Responsável *"/>
					<label class="arquivo" for="r14">Envie RG do Responsável *</label>
					&emsp;<span class="tutoarq" onclick="manual(14)">?</span>
					<img class="imgarq14" src="" onclick="apagamanual(14)"><br><br>

				</div>
				<hr>
				<p style="color:#fff">Atendendo à Portaria Normativa não 21, de 28 de agosto de 2013, com relação à raça/cor, o candidato se autodeclara:</p>
				<select class="form-control afazer" name="dados_adicionais[raca]">
					<option value="">Autodeclaração de raça/cor:</option>
					{% for raca in racas %}
						<option value="{{ raca.codigo }}" {% if aluno.dados_adicionais.raca == raca.codigo %} selected="selected" {% endif %}>{{ raca.raca }}</option>
					{% endfor %}
				</select><br>
				<br><hr><br>
				<input class="form-control afazer" name="nome_social" type="text" placeholder="Nome Social (opcional)"/><br>
				<hr><br>
				
				<!--ARQUIVO ; Obs.: php artisan storage:link -->

				<span style="color:#f00">ATENÇÃO:</span><br>
				<span style="color:#fff">Envie seus arquivos utilizando formato PDF.<br>(Mín.: 150K, Máx.: 1MB / arquivo)</span><br>
				<input type="hidden" name="MAX_FILE_SIZE" value="1000000">
				<br>
				<input required id="cpf" name="arquivos[cpf]" type="file" style="display:none" placeholder="Envie seu CPF *" onchange="verificar(this);"/>
				<label class="arquivo" for="cpf">Envie seu CPF *</label>
				&emsp;<span class="tutoarq" onclick="manual(1)">?</span>
				<img class="imgarq1" src="" onclick="apagamanual(1)"><br><br>

				<input required id="rg" name="arquivos[rg]" type="file" style="display:none" placeholder="Envie seu RG *" onchange="verificar(this);"/>
				<label class="arquivo" for="rg">Envie seu RG *</label>
				&emsp;<span class="tutoarq" onclick="manual(2)">?</span>
				<img class="imgarq2" src="" onclick="apagamanual(2)"><br><br>

				<!--<input id="titulo" name="arquivos[titulo]" type="file" style="display:none" placeholder="Título de Eleitor *" onchange="verificar(this);"/>
										<label class="arquivo" for="titulo">Título de Eleitor</label>
										&emsp;<span class="tutoarq" onclick="manual(3)">?</span>
										<img class="imgarq3" src="" onclick="apagamanual(3)"><br><br>-->

				<input required id="end" name="arquivos[endereco]" type="file" style="display:none" placeholder="Comprovante de Endereço *" onchange="verificar(this);"/>
				<label class="arquivo" for="end">Comprovante de Endereço *</label>
				&emsp;<span class="tutoarq" onclick="manual(4)">?</span>
				<img class="imgarq4" src="" onclick="apagamanual(4)"><br><br>

				<!--<input id="cert" name="arquivos[certidao]" type="file" style="display:none" placeholder="Certidão de Nascimento ou Casamento *" onchange="verificar(this);"/>
										<label class="arquivo" for="cert">Certidão de Nascimento ou Casamento</label>
										&emsp;<span class="tutoarq" onclick="manual(5)">?</span>
										<img class="imgarq5" src="" onclick="apagamanual(5)"><br><br>-->

				<!--<input id="hist" name="arquivos[diploma_medio]" type="file" style="display:none" placeholder="Histórico e Diploma do Ensino Médio *" onchange="verificar(this);"/>
										<label class="arquivo" for="hist">Histórico e Diploma do Ensino Médio</label>
										&emsp;<span class="tutoarq" onclick="manual(6)">?</span>
										<img class="imgarq6" src="" onclick="apagamanual(6)"><br><br>-->

				<!--<input id="foto" name="arquivos[foto]" type="file" style="display:none" placeholder="Foto 3X4 *" onchange="verificar(this);"/>
										<label class="arquivo" for="foto">Foto 3X4</label>
										&emsp;<span class="tutoarq" onclick="manual(7)">?</span>
										<img class="imgarq7" src="" onclick="apagamanual(7)"><br><br>-->

					{% if aluno.ingresso == "enem" %}
					<input id="enem" name="arquivos[enem]" type="file" style="display:none" placeholder="Boletim Enem *" onchange="verificar(this);"/> <label class="arquivo" for="enem">Boletim Enem *</label>
					&emsp;<span class="tutoarq" onclick="manual(8)">?</span>
					<img class="imgarq8" src="" onclick="apagamanual(8)"><br><br>
				{% endif %}

				{% if aluno.ingresso == "segunda_graduacao" %}
					<input id="diploma" name="arquivos[diploma_superior]" type="file" style="display:none" placeholder="Diploma Ensino Superior *" onchange="verificar(this);"/>
					<label class="arquivo" for="diploma">Diploma Ensino Superior *</label>
					&emsp;<span class="tutoarq" onclick="manual(9)">?</span>
					<img class="imgarq9" src="" onclick="apagamanual(9)"><br><br>
				{% endif %}

					<!--<input id="militar" name="arquivos[militar]" type="file" style="display:none" placeholder="Certificado Militar (se houver)" onchange="verificar(this);"/>
											<label class="arquivo" for="militar">Certificado Militar (se houver)</label>
											&emsp;<span class="tutoarq" onclick="manual(10)">?</span>
											<img class="imgarq10" src="" onclick="apagamanual(10)"><br><br>-->

					<!--<input id="cnh" name="arquivos[cnh]" type="file" style="display:none" placeholder="CNH (se houver)" onchange="verificar(this);"/>
											<label class="arquivo" for="cnh">CNH (se houver)</label>
											&emsp;<span class="tutoarq" onclick="manual(11)">?</span>
											<img class="imgarq11" src="" onclick="apagamanual(11)"><br><br>-->

					<!--<input id="programa" name="arquivos[programa]" type="file" style="display:none" placeholder="Conteúdo Programático (se houver)" onchange="verificar(this);"/>
											<label class="arquivo" for="programa">Conteúdo Programático (se houver)</label>
											&emsp;<span class="tutoarq" onclick="manual(12)">?</span>
											<img class="imgarq12" src="" onclick="apagamanual(12)">--><br>
					<br><br><hr><br>
					</p>
					</p>
				
							
					{% if (lead.curso_id == 49) or (lead.curso_id == 63) or (lead.curso_id == 67) or (lead.curso_id == 56) or (lead.curso_id == 57) or (lead.curso_id == 52) or (lead.curso_id == 50) or (lead.curso_id == 65) or (lead.curso_id == 54) or (lead.curso_id == 59) or (lead.curso_id == 61) %} 
					<span class="tutopdf" onclick="abrepdf(1)">Aceita o Contrato de Serviços Educacionais dos Cursos Técnicos?</span>
					<span class="aceitapdf"></span>
					<div class="arqpdf1">
					<iframe class="pdfarqpdf1" src="" type="application/pdf" width="800" height="500"></iframe>
					<button type="button" onclick="apagapdf(1)" class="fechapdf">Aceitar</button>
					</div>
					{% elseif (lead.curso_id == 69) or (lead.curso_id == 74) or (lead.curso_id == 75) or (lead.curso_id == 76) or (lead.curso_id == 77) %} 
					<span class="tutopdf" onclick="abrepdf(2)">Aceita o Contrato de Serviços Educacionais dos Cursos EAD ?</span>
					<span class="aceitapdf"></span>
					<div class="arqpdf2">
					<iframe class="pdfarqpdf2" src="" type="application/pdf" width="800" height="500"></iframe>
					<button type="button" onclick="apagapdf(2)" class="fechapdf">Aceitar</button>
					</div>
					{% else %} 
					<span class="tutopdf" onclick="abrepdf(3)">Aceita o Contrato de Serviços Educacionais dos Cursos de Graduação ?</span>
					<span class="aceitapdf"></span>
					<div class="arqpdf3">
					<iframe class="pdfarqpdf3" src="" type="application/pdf" width="800" height="500"></iframe>
					<button type="button" onclick="apagapdf(3)" class="fechapdf">Aceitar</button>
					</div>
					{% endif %} 					
					<input type="hidden" value="" id="aceito1">	

				
				<br><br><br><br>			
				<hr>
				<br>
				<span class="tutopdf" onclick="abrepdf(4)">Aceita Termo para Tratamento de <br>Dados Pessoais ?</span>
					<span class="aceitapdf2"></span>
					<div class="arqpdf4">
					<iframe class="pdfarqpdf4" src="" type="application/pdf" width="800" height="500"></iframe>
					<button type="button" onclick="apagapdf(4)" class="fechapdf">Aceitar</button>
				</div>				
				<input type="hidden" value="" id="aceito2">
				<br><br><br><br>			
				<hr>
				<br>
				<br><input type="button" onclick="aceitar()" class="add" value="Concluir Inscrição"/><br>
				<br><br><br>
			</form>
		</div>
	</body>
</html>
