<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="x_panel fixed_height_320">
    <div class="x_title">
      <h2>{{ title }}</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content" style="text-align:center;">
      <div id="grafico_{{ id }}" class="chart_man_woman">
        <div class="man"><span class="bar"></span><span class="label">0%</span></div>
        <div class="woman"><span class="bar"></span><span class="label">0%</span></div>
      </div>
    </div>
  </div>
</div>
<style type="text/css" media="screen">
.chart_man_woman { font-size: 0px; }
.chart_man_woman > div {
  display: inline-block;
  position: relative;
  width: 50%;
  z-index: 1;
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
}
.chart_man_woman > div:before {
  content: ' ';
  display: block;
  padding-bottom: 100%;
}
.chart_man_woman > div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: inherit;
}
.chart_man_woman > div .bar {
  position: absolute;
  display: block;
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: -1;
  height: 0px;
  background-color: #9b59b6;
  transition: height 2s cubic-bezier(.58,.01,.21,.96);
  box-shadow: inset 0px 1px 8px rgba(255, 255, 255, 0.35);
}
.chart_man_woman > div .label {
  position: absolute;
  display: block;
  bottom: 0%;
  font-size: 1.2rem;
  z-index: 2;
  left: 50%;
  color: #9b59b6;
  opacity: 0;
  transform: translate(-50%, 0%);
  transition: bottom 2s cubic-bezier(.58,.01,.21,.96), opacity 4s ease;
}
.chart_man_woman > div.man { background-image: url('/images/o-man.png'); }
.chart_man_woman > div.woman { background-image: url('/images/o-woman.png'); }
</style>
<script>
  $(document).ready(function() {

    var labels = {{ data|array2keys|array2json|raw }};
    var data = {{ data|array2values|array2json|raw }};

    var total = 0;
    var cats = {};

    for (var i = 0; i < labels.length; i++) {
      var c = labels[i].toLowerCase();
      var d = data[i];

      total += d;
      cats[c] = d;
    }

    var graph = $('#grafico_{{ id }}');

    var man = 100 * cats.masculino / total;
    var fem = 100 * cats.feminino / total;

    graph.find('.man .bar').css('height', man + '%');
    graph.find('.woman .bar').css('height', fem + '%');

    graph.find('.man .label').html(Math.round(man) + '%').css('bottom', man + '%').css('opacity', 1);
    graph.find('.woman .label').html(Math.round(fem) + '%').css('bottom', fem + '%').css('opacity', 1);
  });
</script>
