{% extends 'AmbienteConversao::layout' %}

{% set page_id = 'page-inscricao' %}

{% block body %}

<!-- Principal -->
<form method="post" action="/inscricao/finaliza">
	{{ csrf_field() }}
	{% verbatim %}
	<main id="page-inscricao">

		<!-- Cabeçalho -->
		<header class="fit-height">
			<div class="container fit fit-height">
				<div class="row fit align-items-end">
					<!-- Tela: Opções de Curso -->
					<div id="acfam-inscricao-opcoes-curso" class="col-md-12">
						<h2>Opções de Curso</h2>
						<div class="row">
							<!-- Primeira Opção -->
							<div class="opcao-curso col-xs-12 col-md-4">
								<label for="acfam-inscricao-opcoes-curso-1">Opção de Curso *:</label>

								<!-- Listagem de Cursos -->
								<select required name="opcoes_curso[]" v-model="opcao1" v-on:change="opcao2 = opcao3 = null" class="form-control" id="acfam-inscricao-opcoes-curso-1">
									<option selected :value="null">Selecione um curso...</option>
									<option v-for="curso in cursos_sort" :value="curso.id">{{ curso.nome }}</option>
								</select>

								<!-- Detalhes do Curso -->
								<transition name="fade_resize">
									<div class="curso-info" id="acfam-inscricao-opcoes-curso-1-details" v-if="opcao1">
										<strong>Mensalidade</strong>
										<span>R$ {{ cursos[opcao1].valor|currency }}</span>
										<strong>Modalidade</strong>
										<span>{{ cursos[opcao1].dados_adicionais
.modalidade }}</span>
										<strong>Duração</strong>
										<span>{{ cursos[opcao1].duracao }} semestres</span>
										<strong>Modo/Período</strong>
										<span>{{ cursos[opcao1].dados_adicionais
.modo }} {{ cursos[opcao1].dados_adicionais
.periodo }}</span>
									</div>
								</transition>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- Informações da Campanha -->
		<!--<section id="acfam-inscricao-infos" class="container">
			<span class="inicio-aulas">Início das Aulas Agosto 2018</span>
			<strong class="desconto-regressivo">Desconto Regressivo</strong>
			<img src="./assets/images/inscricao-desconto-regressivo.png" />
			<strong>Aproveite os Descontos na Matrícula</strong>
			<p>
				O desconto regressivo refere-se ao pagamento da matrícula (1ª mensalidade) realizada dentro do mês indicado na figura.<br />
				** Exceto para cursos de Tecnologia e Letras.
			</p>
		</section>-->

		<!-- Formulário de Inscrição -->
		<section id="acfam-inscricao-form" class="container">
			<div class="row">
				<!-- Nome -->
				<div class="col-xs-12 col-md-6 v-spacing">
					<input class="form-control" name="candidato[primeiro_nome]" type="text" placeholder="Nome" required v-model="aluno.primeiro_nome" />
				</div>
				<!-- Sobrenome -->
				<div class="col-xs-12 col-md-6 v-spacing">
					<input class="form-control" name="candidato[sobrenome]" type="text" placeholder="Sobrenome" required v-model="aluno.sobrenome" />
				</div>

				<!-- Estado -->
				<div class="col-xs-12 col-md-4 v-spacing">
					<select size required class="form-control" name="candidato[estado]" v-model="estado">
						<option selected :value="null">Selecione um estado...</option>
						<option value="AC">Acre</option>
						<option value="AL">Alagoas</option>
						<option value="AM">Amazonas</option>
						<option value="AP">Amapá</option>
						<option value="BA">Bahia</option>
						<option value="CE">Ceará</option>
						<option value="DF">Distrito Federal</option>
						<option value="ES">Espírito Santo</option>
						<option value="GO">Goiás</option>
						<option value="MA">Maranhão</option>
						<option value="MG">Minas Gerais</option>
						<option value="MS">Mato Grosso do Sul</option>
						<option value="MT">Mato Grosso</option>
						<option value="PA">Pará</option>
						<option value="PB">Paraíba</option>
						<option value="PE">Pernambuco</option>
						<option value="PI">Piauí</option>
						<option value="PR">Paraná</option>
						<option value="RJ">Rio de Janeiro</option>
						<option value="RN">Rio Grande do Norte</option>
						<option value="RO">Rondônia</option>
						<option value="RR">Roraima</option>
						<option value="RS">Rio Grande do Sul</option>
						<option value="SC">Santa Catarina</option>
						<option value="SE">Sergipe</option>
						<option value="SP">São Paulo</option>
						<option value="TO">Tocantins</option>
					</select>
				</div>

				<!-- Cidade -->
				<div class="col-xs-12 col-md-8 v-spacing">
					<select size required class="form-control" name="candidato[cidade]" v-model="cidade">
						<option :value="cidade" v-if="!estado">Selecione uma cidade...</option>
						<option selected :value="null" v-if="estado">Selecione uma cidade...</option>
						<option v-for="cidade in cidades_estado" :value="cidade.id">{{ cidade.nome }}</option>
					</select>
				</div>

				<!-- CPF -->
				<div class="col-xs-12 col-md-6 col-lg-4 v-spacing">
					<the-mask readonly class="form-control" name="candidato[cpf]" type="text" placeholder="CPF" required :mask="['###.###.###-##']" :value="aluno.cpf" />
				</div>

				<!-- E-mail -->
				<div class="col-xs-12 col-md-6 col-lg-8 v-spacing">
					<input class="form-control" name="candidato[email]" type="email" placeholder="E-mail" required v-model="aluno.email" />
				</div>

				<!-- RG -->
				<!--<div class="col-xs-12 col-md-6 col-lg-4 v-spacing">
					<the-mask class="form-control" name="candidato[rg]" type="text" placeholder="RG" required :mask="['##.###.###-X']" v-model="aluno.rg" />
				</div>-->

				<!-- Data Nascimento -->
				<div class="col-xs-12 col-md-6 col-lg-4 v-spacing">
					<the-mask class="form-control" name="candidato[data_nascimento]" type="text" placeholder="Data de Nascimento" required :mask="['##/##/####']" />
				</div>

				<!-- WhatsApp / Celular -->
				<div class="col-xs-12 col-md-2 col-lg-1 v-spacing">
					<the-mask class="form-control" name="candidato[celular_ddd]" type="text" placeholder="DDD" required :mask="['(##)']" v-model="aluno.celular_ddd" />
				</div>
				<div class="col-xs-12 col-md-4 col-lg-3 v-spacing">
					<the-mask class="form-control" name="candidato[celular_numero]" type="text" placeholder="WhatsApp / Celular" required :mask="['####-####', '#####-####']" v-model="aluno.celular_numero" />
				</div>

				<!-- Telefone Residencial -->
				<div class="col-xs-12 col-md-2 col-lg-1 v-spacing">
					<the-mask class="form-control" name="candidato[telefone_ddd]" type="text" placeholder="DDD" :mask="['(##)']" v-model="aluno.telefone_ddd" />
				</div>
				<div class="col-xs-12 col-md-4 col-lg-3 v-spacing">
					<the-mask class="form-control" name="candidato[telefone_numero]" type="text" placeholder="Telefone Residencial" :mask="['####-####']" v-model="aluno.telefone_numero" />
				</div>

				<!-- Sexo -->
				<div class="col-xs-12 col-md-6 col-lg-4 v-spacing">
					<select size required class="form-control" name="candidato[sexo]" v-model="aluno.sexo">
						<option :value="null">Sexo:</option>
						<option value="Masculino">Masculino</option>
						<option value="Feminino">Feminino</option>
					</select>
				</div>

				<!-- PCD -->
				<div class="col-xs-12 col-md-12 col-lg-8 v-spacing">
					<select size required class="form-control" name="dados_adicionais[deficiencia]" v-model="pcd">
						<option :value="null">Possui alguma deficiência?</option>
						<option value="nao">Não</option>
						<option value="sim">Sim</option>
					</select>
				</div>
				<transition name="fade">
					<div class="col-xs-12 col-md-12 col-lg-12 v-spacing" v-if="pcd && pcd == 'sim'">
						<select size required class="form-control" name="dados_adicionais[deficiencia_qual]">
							<option value="">Qual?</option>
							<!--<option value="0">Sem deficiência</option>-->
							<option value="1">Cegueira</option>
							<option value="2">Baixa Visão</option>
							<option value="3">Surdez</option>
							<option value="4">Deficiência Auditiva</option>
							<option value="5">Deficiência fisica</option>
							<option value="6">Surdocegueira</option>
							<option value="7">Deficiência Múltipla</option>
							<option value="8">Deficiência Mental</option>
						</select>
					</div>
				</transition>

				<!-- Como conheceu a FAM? -->
				<div class="col-xs-12 col-md-12 col-lg-12 v-spacing">
					<select size required class="form-control" name="como_conheceu">
						<option value="" selected="selected">Como nos conheceu?</option>
						<option v-for="midia in midias" :value="midia.id">{{ midia.nome }}</option>
					</select>
				</div>

			{% endverbatim %}
				<!-- Data da Prova -->
				<div class="col-xs-12 col-md-12 col-lg-12 v-spacing">
					<select size required class="form-control" name="data_prova" v-model="data_prova">
						<option :value="null">Data e local da prova:</option>
						<optgroup label="FAM - Faculdade de Americana">
							{# Inserido manualmente, puxar do BI. #}
							<option value="1372">20/01/2019 13:30 - Domingo</option>
						</optgroup>
					</select>
				</div>
			{% verbatim %}

				<!-- Finalizar Inscrição -->
				<div class="col-xs-12 col-md-12 col-lg-12 v-spacing align center">
					<input class="btn cta large centered" type="submit" value="Concluir Inscrição" />
				</div>
			</div>
		</section>

	</main>
	{% endverbatim %}
</form>

{% endblock %}

{% block scripts %}
	<!-- Variáveis (BI -> VueJS) -->
	<script type="text/javascript">
	window.history.forward(1);
	let midias = {{ campanha.midias|json_encode|raw }};
	let aluno = {{ aluno|json_encode|raw }};
	</script>

	<!-- Script da Página -->
	<script type="text/javascript" src="./assets/js/page-inscricao.js"></script>

	{% if error %}
		<script>alert('{{ error }}');</script>
	{% endif %}
{% endblock %}