<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	
	<title>Vestibular FAM</title>

	<meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="theme-color" content="#162f51">

	<!-- HTTP Preconnect -->
	<link rel="preconnect" href="https://pageview-notify.rdstation.com.br" />
	<link rel="preconnect" href="https://w-cdn.pzw.io" />
	<link rel="preconnect" href="https://widget.huggy.io" />
	<link rel="preconnect" href="https://w-cdn.huggy.io" />
	<link rel="preconnect" href="https://rec.smartlook.com" />
	<link rel="preconnect" href="https://googleads.g.doubleclick.net" />
	<link rel="preconnect" href="https://staticxx.facebook.com" />
	<link rel="preconnect" href="https://connect.facebook.net" />
	<link rel="preconnect" href="https://static.huggy.io" />
	<link rel="preconnect" href="https://www.googleadservices.com" />
	<link rel="preconnect" href="https://www.google-analytics.com" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />

	<!-- TODO: Integrar código e tags do antigo ACFAM aqui -->

	<!-- RD Station -->
	{{ settings.rd_scripts|raw }}

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-80310575-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-80310575-2');
	</script>

	<!-- Tags Header -->
	{{ tags.head|raw }}

	<!-- Detectar Javascript -->
	<script type="text/javascript">document.getElementsByClassName('no-js')[0].className = '';</script>
</head>
<body id="{{ page_id }}">
	<div id="app">
		<!-- Menu -->
		<nav id="acfam-nav-main" class="navbar navbar-expand-lg">
			<div class="container">
				<!-- Logo no menu -->
				<a class="navbar-brand" href="/"><i class="icone logo-fam"></i></a>
				<span class="fam-texto"></span>

				<!-- Botão para exibir/ocultar menu no mobile -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#acfam-nav-main-inner" aria-controls="acfam-nav-main-inner" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fa fa-bars"></i>
				</button>

				<!-- Aqui começa o menu, tudo neste elemento será ocultado no mobile -->
				<div id="acfam-nav-main-inner" class="collapse navbar-collapse">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a target="_blank" class="nav-link" href="https://fam.br">Portal FAM</a>
						</li>
						{% if opcoes.url_cursos %}
						<li class="nav-item">
							<a target="_blank" class="nav-link" href="{{ opcoes.url_cursos }}">Guia de Cursos</a>
						</li>
						{% endif %}
						{% if opcoes.url_edital %}
						<li class="nav-item">
							<a target="_blank" class="nav-link" href="{{ opcoes.url_edital }}">Edital</a>
						</li>
						{% endif %}
						{# <li class="nav-item">
							<a class="nav-link" href="#">Acompanhar Inscrição</a>
						</li> #}
					</ul>
				</div>
			</div>
		</nav>

		{% block body %}{% endblock %}

		<!-- Rodapé -->
		<footer>
			<div class="container">
				<p>Atendimento das 9 às 21 horas {% if opcoes.url_edital %}| <a target="_blank" href="{{ opcoes.url_edital }}">Edital</a>{% endif %} | {% if opcoes.url_cursos %}<a target="_blank" href="{{ opcoes.url_cursos }}">Guia de Cursos</a>{% endif %}</p>
				<div class="social">
					<a target="_blank" href="http://instagram.com/famamericana"><i class="fa fa-instagram"></i></a>
					<a target="_blank" href="http://fb.com/famamericana"><i class="fa fa-facebook"></i></a>
					<a target="_blank" href="mailto:vestibular@fam.br"><i class="fa fa-envelope-o"></i></a>
					<a class="has-text" target="_blank" href="tel:08007712449">
						<i class="fa fa-phone"></i>
						0800 771 2449
					</a>
					<a class="has-text" target="_blank" href="https://api.whatsapp.com/send?phone=551994379555">
						<i class="fa fa-whatsapp"></i>
						WhatsFAM (19) 99437-9555
					</a>
				</div>
			</div>
		</footer>
	</div>

	<!-- Styles -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">

	<!-- Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js" crossorigin="anonymous"></script>

	<!-- Helper Scripts -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script type="text/javascript" src="/assets/js/vue.the-mask.js"></script>

	<!-- Facebook Connect -->
	<script>
	window.fbAsyncInit = function() {
		FB.init({
			appId      : '1395394967220729',
			xfbml      : true,
			version    : 'v2.9'
		});
		FB.AppEvents.logPageView();
	};

	(function(d, s, id){
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/pt_BR/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>

	<!-- Main Script -->
	<script type="text/javascript" src="/assets/js/main.js"></script>

	<!-- Page Scripts -->
	{% block scripts %}{% endblock %}

	<!-- Tags Footer -->
	{{ tags.foot|raw }}

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">

	<!-- Widget Huggy -->
	<script>var $_PowerZAP = { defaultCountry: '+55', widget_id: '2419', company: "7496" }; (function(i,s,o,g,r,a,m){ i[r]={context:{id:'494e5b9614f4ba877ae1913c167926aa'}};a=o;o=s.createElement(o); o.async=1;o.src=g;m=s.getElementsByTagName(a)[0];m.parentNode.insertBefore(o,m); })(window,document,'script','https://w-cdn.huggy.io/widget.min.js?v=6.14.2','pwz');</script>
</body>
</html>