{% extends ('Admin::layout') %}

{% import 'Admin::helpers.form_modulo' as form %}

{% set title = 'Unidades' %}

{% block content %}
<div class="right_col" role="main">
	<div class="">
		<div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Unidades</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Unidade</th>
                        <th>Endereço</th>
                        <th>Telefone</th>
                        <th>E-mail</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                  {% for unidade in unidades %}
                      <tr>
                        <th scope="row">{{ unidade.id }}</th>
                        <td>{{ unidade.nome }}</td>
                        <td>
                          <a href="https://www.google.com.br/maps/@{{ unidade.coordenadas.latitude }},{{ unidade.coordenadas.longitude }},{{ unidade.coordenadas.zoom }}z?q=loc:{{ unidade.coordenadas.latitude }},{{ unidade.coordenadas.longitude }}&hl=pt-BR" target="_blank">
                          {{ unidade.endereco_completo }}
                          </a>
                        </td>
                        <td><a href="tel:+55{{ unidade.telefone }}">{{ unidade.telefone }}</a></td>
                        <td><a href="mailto:{{ unidade.email }}">{{ unidade.email }}</a></td>
                        <td>
                        	<a href="/modulos/{{ module.id }}/" title="Visualizar"><i class="fa fa-eye"></i></a>
                        	<a href="/modulos/{{ module.id }}/edit" title="Editar"><i class="fa fa-edit"></i></a>
                        </td>
                      </tr>
                  {% endfor %}
                    </tbody>
                  </table>

                </div>
              </div>
            </div>

            <div class="clearfix"></div>
        </div>

    	{# {{ form.editar_modulo (null, modulos_disponivel) }} #}

    </div>
</div>
{% endblock %}