{% extends ('Admin::layout') %}

{% set title = 'Eventos' %}

{% block content %}
<div class="right_col" role="main">
	<div class="">
		<div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Eventos</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Time</th>
                        <th>Type</th>
                        <th>Message</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                  {% for process in events %}
                      <tr class="process {% if process.finished %}success{% else %}warning{% endif %} {% if process.error %}danger{% endif %}">
                        <th scope="row">{{ process.id }}</th>
                        <td>{{ process.time }}</th>
                        <td>{{ process.type }}</th>
                        <td>{{ process.message }}</th>
                        <td>{% if process.error %}Error{% elseif process.finished %}Finished{% else %}Started{% endif %}</th>
                        {# <td {% if process.error %}class="danger"{% endif %}><textarea class="form-control" rows="1" data-error="{{ process.error }}">ERROR</textarea></th> #}
                      </tr>
                  {% endfor %}
                    </tbody>
                  </table>

                </div>
              </div>
            </div>

            <div class="clearfix"></div>
        </div>

    </div>
</div>

<script>
$(document).ready(() => {
  $('table').DataTable({
    title: '',
    dom: "Bfrtip",
    buttons: [
      {
        extend: "copy",
        className: "btn-sm"
      },
      {
        extend: "csv",
        className: "btn-sm"
      },
      {
        extend: "excel",
        className: "btn-sm"
      },
      {
        extend: "pdfHtml5",
        className: "btn-sm"
      },
      {
        extend: "print",
        className: "btn-sm"
      },
    ],
    responsive: true,
    order: [[1, 'desc']]
  });
});

</script>

{% endblock %}