{% extends ('Admin::layout') %}

{% set title = 'Usuários' %}

{% block content %}
<div class="right_col" role="main">
  <div class="">

    <form method="post" action="/users">
      {{ csrf_field() }}
          
      <div class="row">
        <div class="col-md-12" style="padding-top: 1em; padding-bottom: 1em">
            <input type="submit" class="btn btn-primary" value="Salvar Alterações" />
            <input type="reset" class="btn btn-warning" value="Resetar Alterações" />
        </div>
      </div>
      
      <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Usuários</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Nome</th>
                          <th>E-mail</th>
                          <th>Função</th>
                          <th>Resetar senha</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for user in users %}
                        <tr>
                          <td>{{ user.id }}</td>
                          <td>{{ user.name }}</td>
                          <td>{{ user.email }}</td>
                          <td>
                            <select name="user[{{ user.id }}][role]" class="form-control" {% if user.hasRole('dev') and not auth_user().hasRole('dev') %}disabled{% endif %}>
                            {% for role in roles %}
                              <option value="{{ role.id }}" {% if user.hasRole(role.name) %}selected{% endif %}>{{ role.display_name }}</option>
                            {% endfor %}
                            </select>
                          </td>
                          <td>
                            <input name="user[{{ user.id }}][reset_password]" class="form-control" {% if user.hasRole('dev') and not auth_user().hasRole('dev') %}disabled{% endif %}>
                            </select>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>
          </div>
      
      <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Novo Usuário</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <div class="row">

                      <div class="col-md-3 col-xs-12">
                        <label for="new_user[name]">Nome:</label>
                        <input name="new_user[name]" id="new_user[name]" class="form-control" type="text" />
                      </div>

                      <div class="col-md-3 col-xs-12">
                        <label for="new_user[email]">E-mail:</label>
                        <input name="new_user[email]" id="new_user[email]" class="form-control" type="email" />
                      </div>

                      <div class="col-md-3 col-xs-12">
                        <label for="new_user[role]">Função:</label>
                        <select name="new_user[role]" id="new_user[role]" class="form-control">
                        {% for role in roles %}
                          <option value="{{ role.id }}">{{ role.display_name }}</option>
                        {% endfor %}
                        </select>
                      </div>

                      <div class="col-md-3 col-xs-12">
                        <label for="new_user[password]">Senha:</label>
                        <input name="new_user[password]" id="new_user[password]" class="form-control" type="text" />
                      </div>

                    </div>

                    <br />
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>
          </div>

      </form>
    </div>
</div>

{% endblock %}