{% extends 'AmbienteConversao::layout.twig' %}

{% set page_id = 'page-acompanhar-inscricao' %}

{% block body %}
<main class="container">
	<div class="row">
		<div class="row-header col-md-12">
			<h1>{{ aluno.nome }}</h1>
		</div>
		<div class="row-header-cursos col-md-12">
			<div class="row">
				<div class="col-md-4 fit-height">
					<div class="opcao-curso principal fit {% if lead.isMatriculado(opcoes_curso[0]) %}matriculado{% endif %}">
						<h2>Primeira Opção de Curso</h2>
						<p>
							{{ opcoes_curso[0].nome }}
						</p>
					</div>
				</div>
				<div class="col-md-4 fit-height">
					<div class="opcao-curso fit {% if lead.isMatriculado(opcoes_curso[1]) %}matriculado{% endif %}">
						<h2>Segunda Opção de Curso</h2>
						<p>
							{{ opcoes_curso[1].nome }}
						</p>
					</div>
				</div>
				<div class="col-md-4 fit-height">
					<div class="opcao-curso fit {% if lead.isMatriculado(opcoes_curso[2]) %}matriculado{% endif %}">
						<h2>Terceira Opção de Curso</h2>
						<p>
							{{ opcoes_curso[2].nome }}
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="row">
				<div class="col-md-12">
					<h2>Detalhes da Inscrição</h2>
				{% if dados_adicionais.usar_enem == 'sim' %}
					<p>
						<strong>Data entrega da documenta&ccedil;&atilde;o:</strong><br />
						{{ prova.data.hora|date('d/m/Y') }}
					</p>
					<p>
						<strong>Hor&aacute;rio:</strong><br />
						{% if prova.data.hora|date('H') < 12 %}das 08:30 &agrave;s 11:30{% else %}das 9:00 &agrave;s 21:00{% endif %}
						</p>
					<p>N&atilde;o se esque&ccedil;a de trazer sua nota do ENEM v&aacute;lida.</p>
				{% else %}
					<p>
						<strong>Data da prova:</strong><br />
						{{ prova.data.hora|date('w')|dia_semana }}, {{ prova.data.hora|date('d/m/Y') }}
					</p>
					<p>
						<strong>Hora da prova:</strong><br />
						{{ prova.data.hora|date('H:i') }}
					</p>
				{% endif %}
					<p>
						<strong>Local da prova:</strong><br />
						{{ prova.local.local }}<br />{{ prova.local.endereco }}
					</p>

					<p>
						Para alterações de dados cadastrais, datas ou locais de prova, entre em contato com nossa Central de Atendimento.
					</p>

					{# Só irá estar visível quando a prova for realizada #}
					{% if prova.status_id %}
						<h3>Resultados da Prova</h3>

						<p>
						{% if prova.status_id == 1 %}
							{# Dados Indisponíveis #}
							No momento estamos processando os resultados de sua prova!<br />
							Volte mais tarde para conferir o resultado!
						{% elseif prova.status_id == 2 %}
							{# Faltou #}
							Parece que você não compareceu no dia da prova!<br />
							Você pode reagendar sua prova entrando em contato via chat, telefone ou WhatsApp!
						{% elseif prova.status_id == 3 %}
							{# Reprovou #}
							<strong>Resultado:</strong>
							{{ prova.status }}<br />
							Hey, você merece uma segunda chance! A Faculdade de Americana oferece uma nova oportunidade para você alcançar o topo.<br />
							Basta entrar em contato via chat, telefone ou WhatsApp e agendar uma nova prova!<br />
							Estamos te esperando!
						{% elseif prova.status_id == 4 %}
							{# Aprovado #}
							<strong>Resultado:</strong>
							{{ prova.status }}<br />
							Parabéns! Seu caminho rumo ao topo já começou!<br />
						{% if lead.isMatriculado() %}
						{% if lead.status_id == 'MATR' %}
							{# Matriculado #}
							Estaremos te esperando no início das aulas. Seja bem-vindo!
						{% else %}
							{# Pré-Matriculado #}
							Realize o pagamento da sua matrícula e aguarde o início das aulas em Agosto. Seja bem-vindo!
						{% endif %}
						{% else %}
							{# Não Matriculado #}
							Venha até a FAM e faça agora a sua matrícula!<br />
							Estamos te esperando!
						{% endif %}
						{% endif %}
						</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}

{% block scripts %}

{% endblock %}